<nav class="navbar-nav navbar-light bg-secondary">
<ul class="nav bg-secondary">
  <li class="nav-item">
      <img [src]="logoUrl" width="40px" height="45px" class="navbar-brand"/>
  </li>
  <li class="nav-item">
    <h4>{{title}}</h4>
  </li>
  <li class="nav-item">
    <p><em>{{subTitle}}</em></p>
  </li>
  <li class="nav-item ml-auto">
    <a href="#">Lib</a>
  </li>
  <li class="nav-item">
    <a href="#">Recommendations</a>
  </li>
  <li class="nav-item">
    <a href="#">For You</a>
  </li>
  <li class="nav-item">
    <a href="#">About</a>
  </li>
</ul>
</nav>
