<nav class="navbar-nav navbar-light nav-custom">
<ul class="nav">
  <li class="nav-item">
      <img [src]="logoUrl" width="40px" height="45px" class="navbar-brand"/>
  </li>
  <li class="nav-item">
   <a href="#"><h4>{{title}}</h4></a>
  </li>
  <li class="nav-item">
    <p><em>{{subTitle}}</em></p>
  </li>
  <li class="nav-item ml-auto">
    <a [routerLink]="['/library/shelves']" class="nav-custom-link">Lib</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['upload']" class="nav-custom-link">Contribute</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-custom-link">For You</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-custom-link">About</a>
  </li>
</ul>
</nav>
