<nav class="navbar navbar-expand-lg navbar-light nav-custom">
  <img [src]="logoUrl" width="40px" height="45px" class="navbar-brand"/>
  <a class="navbar-brand" href="/"><h4>{{title}}</h4></a>
  <p><em>{{subTitle}}</em></p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul  class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}"
        class="nav-custom-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/library/shelves']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}"
        class="nav-custom-link"
        >Browse
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['upload']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}"
        class="nav-custom-link">
        Contribute
        </a>
      </li>
    </ul>
  </div>
</nav>
