p {
    color: white;
    font-style: italic;
    margin-left: 16px;
    font-size: 24px;
    margin-top: 4px;
    font-family: 'Raleway', sans-serif;
}

h4 {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid whitesmoke;
  border-bottom-width: thin;
  color: #191970;
}

img {
  margin-left: 8px;
}

li {
  margin-top: 10px;
}

.nav-custom {
  background-color: #4e5556;
}

.nav-custom-link {
  font-size: large;
  margin-right: 12px;
  color: #191970;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.active-link {
  color: whitesmoke;
  border-bottom: 2px solid white;
}

