.resize {
  object-fit: contain;
}

.curve {
  border-radius: 2px;
  -webkit-box-shadow: 10px 9px 3px 3px rgba(0,0,0,0.51);
  box-shadow: 10px 9px 3px 3px rgba(0,0,0,0.51);
}

.bg-offset {
  background-color: #191970;
}

.title-text {
  text-align: left;
}

h4 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

p {
  color: white;
  font-size: small;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}
