.resize {
  object-fit: contain;
}

.shadowbox {
  /* background-color: #407294; */
  border-radius: 15px;
}

.curve {
  border-radius: 16px;
}

.bg-offset {
  background-color: #409462;
}

.title-text {
  text-align: left;
}

h4 {
  color: whitesmoke;
  font-family: 'Cormorant', serif;
}

p {
  color: white;
  font-size: small;
  font-style: italic;
}
