<div class="container-fluid">
  <br>
    <div class="row">
      <div class="col-4 center">
        <img [src]="book.coverUrl" height="300px" style="resize: contain;">
      </div>
    <div class="col-5">
      <h6>{{book.title}}</h6>
      <p *ngIf="author"><strong>{{author.name}}</strong></p>
      <p *ngIf="author"><small>{{author.mention}}</small></p>
      <p>{{book.synopsis}}</p>
      <p><em>Related Genres: </em></p>
      <p *ngIf="genre"><small>{{genre.genre}}</small></p>
    </div>
    </div>
</div>
