<div class="container-fluid">
  <div class="row">
    <h4>404 Page Not Found... Yikes!</h4>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Do you know what that is?</p>
      <p>That's an artist's rendition of a black hole. A black hole is, according to NASA, "...a place in space where gravity pulls so much that even light can not get out." So basically a black hole just sucks in everything in its path.</p>
      <p>You know what else sucks that hard? </p>
      <p>You, for breaking our server.</p>
      <br>
      <p><em>HA got you!</em></p>
      <a [routerLink]="['/']">Click here to head back home</a>
    </div>
    <div class="col-6 center">
      <img src="https://www.nasa.gov/sites/default/files/cygx1_ill.jpg" width="300px" height="300px" style="resize: contain;"/>
    </div>
  </div>
</div>
