.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

p {
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
 }

 a {
  font-family: 'Raleway', sans-serif;
  color: purple
 }
