.custom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-cust {
  margin-left: 16px;
  font-family: 'Raleway', sans-serif;
}

.search-bar {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
}
