.mTop {
 margin-top: 16px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leadText{
  font-size: 36px;
  color: aliceblue;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}

.labelText {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  align-self: center;
  margin-bottom: 22px;
  font-variant-caps: petite-caps;
}

.customInput {
  margin-bottom: 22px;
  max-width: '100%';
}

.buttonBottom {
  margin-bottom: 22px;
}

p {
  color: whitesmoke;
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
}

label, input, select, option, button{
  font-family: 'Raleway', sans-serif;
}
