<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="text">Welcome to AWL</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <p class="text">This is a online place to gather resources on all different types of programming languages.</p>
      <p class="text">This website is powered by</p>
      <ul>
        <li>
          <i class="fab fa-lg fa-angular pop"></i>
          <em> Angular 10 </em>
        </li>  
        <br>
        <li>
          <i class="fab fa-lg fa-java pop"></i>
          <em>    Java Spring Boot</em>
        </li>
        <br>
        <li>
          <i class="fas fa-lg fa-server pop"></i>
          <em>  MySQL </em>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
  <a href="https://github.com/nicholasgalante1997/angular-lib-client">
    <p>You can view the source code for this website by clicking here
      <i class="fab fa-lg fa-github-square"></i>
    </p>
  </a>
  </div>
</div>
